---
import Layout from '../layouts/Layout.astro'
---

<Layout title="CerroBlanco">
	<main class="dashboard">
		<section class="dashboard__jardin">
			<h1 class="jardin__TitleH1">
				Jardin Botanico de plantas Medicinales en Cerro Blanco
			</h1>
		</section>
		<section class="dashboard__carrusel" data-dark>
			<div class="carrusel__descripcion">
				<h4 class="carrusel__TitleH4">
					<span class="carrusel__span">Exposicion de Imagenes</span>
				</h4>
				<h2 class="carrusel__TitleH2">
					Disfruta un mundo lleno de vida y diversion
				</h2>
				<p class="carrusel__p">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id laborum
					repudiandae fugit dolore soluta dolorem ex corrupti ipsum corporis
					libero! Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Reprehenderit, similique!
				</p>
			</div>
			<div class="carrusel__slider">
				<div class="slider__slides">
					<img src="./img/medicina.jpg" alt="flora" class="slider__img" />
					<img
						src="./img/mariposas.jpg"
						alt="cria de mariposas"
						class="slider__img"
					/>
					<img src="./img/apicola.jpg" alt="abeja" class="slider__img" />
					<img src="./img/agua.jpg" alt="agua" class="slider__img" />
					<img
						src="./img/fogCollector.jpg"
						alt="fogCollector"
						class="slider__img"
					/>
				</div>
				<ul class="slider__btns">
					<li class="btns__punto activo"></li>
					<li class="btns__punto"></li>
					<li class="btns__punto"></li>
					<li class="btns__punto"></li>
					<li class="btns__punto"></li>
				</ul>
			</div>
		</section>
		<section class="dashboard__deportesDeAventuras">
			<h2 class="deportesDeAventuras__TitleH2">Deportes de Aventuras</h2>
			<section class="deportesDeAventuras__videoSection">
				<div class="videoSection__Media">
					<svg
						class="Media__svg"
						width="65"
						height="76"
						viewBox="0 0 65 76"
						fill="none"
						stroke="currentColor"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M2 3.35898L62 38L2 72.641L2 3.35898Z"
							stroke="currentColor"
							stroke-width="1.5"></path>
					</svg>
				</div>
			</section>
		</section>
		<section class="dashboard__disfruta" data-dark>
			<div class="disfruta__contenedor">
				<h4 class="disfruta__TitleH4">
					<span class="disfruta__span">NATURALEZA & DIVERSIÓN</span>
				</h4>
				<h2 class="disfruta__TitleH2">Busca Opciones.</h2>
				<div class="disfruta__Atracciones">
					<figure class="disfruta__contenedorImagenes">
						<img
							class="disfruta__img"
							alt="atraccion"
							src="./img/atraccion.jpg"
						/>
					</figure>
					<div class="disfruta__descripcion">
						<p class="disfruta__p">
							La perfecta manera de vivir la vida con juegos para todos los
							gustos.
						</p>
						<a href="./atracciones" class="disfruta__a">ATRACCIONES</a>
					</div>
				</div>
				<div class="disfruta__Abejas">
					<figure class="disfruta__contenedorImagenes">
						<img class="disfruta__img" alt="abejas" src="./img/abejas.jpg" />
					</figure>
					<div class="disfruta__descripcion">
						<p class="disfruta__p">
							Conozca la gran importancia de las Abejas en el mundo.
						</p>
						<a href="./saludConAbejas" class="disfruta__a">SALUD CON ABEJAS</a>
					</div>
				</div>
				<div class="disfruta__Zoologico">
					<figure class="disfruta__contenedorImagenes">
						<img class="disfruta__img" alt="granja" src="./img/zoo.jpg" />
					</figure>
					<div class="disfruta__descripcion">
						<p class="disfruta__p">
							Los animales son parte de la vida y es increible interactuar con
							ellos.
						</p>
						<a href="#" class="disfruta__a">ZOOLOGICO</a>
					</div>
				</div>
				<div class="disfruta__Flora">
					<figure class="disfruta__contenedorImagenes">
						<img class="disfruta__img" alt="Flores" src="./img/flora.jpg" />
					</figure>
					<div class="disfruta__descripcion">
						<p class="disfruta__p">
							La belleza de la naturaleza es total ya que la podemos percibir
							con nuestros cinco sentidos
						</p>
						<a href="#" class="disfruta__a">NATURALEZA</a>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>

<script>
	const d = document
	const $video = d.querySelector(
		'.deportesDeAventuras__videoSection'
	) as HTMLInputElement
	const $nextBtn = d.querySelector('.btns__next'),
		$prevBtn = d.querySelector('.btns__prev'),
		$slides = d.querySelectorAll('.slides__slide')

	let i = 0
	const $media = d.querySelector('.Media__svg')
	d.addEventListener('click', (e) => {
		console.log(e.target)
		if (e.target === $prevBtn) {
			e.preventDefault()
			$slides[i].classList.remove('active')
			i--

			if (i < 0) {
				i = $slides.length - 1
			}

			$slides[i].classList.add('active')
		}

		if (e.target === $nextBtn) {
			e.preventDefault()
			$slides[i].classList.remove('active')
			i++

			if (i >= $slides.length) {
				i = 0
			}

			$slides[i].classList.add('active')
		}
		if (e.target === $media) {
			$video.innerHTML = `<iframe width="100%" allow="autoplay"  height="100%" src="https://www.youtube.com/embed/nqye02H_H6I?autoplay=1&mute=1&loop=1" title="4K Relaxing Nature Sounds - Short Video Clips of Nature" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></video>`
		}
	})

	const grande = document.querySelector('.slider__slides') as HTMLInputElement
	const $slider = d.querySelector('.carrusel__slider') as HTMLInputElement
	const punto = document.querySelectorAll('.btns__punto')
	const puntoActivo = document.querySelector(
		'.btns__punto.activo'
	) as HTMLInputElement
	const colores = ['#b5cb19', '#00aeef', '#28D310', '#108FE7', '#DCE5EB']

	punto.forEach((cadaPunto, i) => {
		punto[i].addEventListener('click', () => {
			let posicion = i
			let operacion = posicion * -20
			grande.style.transform = `translateX(${operacion}%)`
			$slider.setAttribute(
				'style',
				`box-shadow:1em 1em 1em ${colores[i]}, -0.5em -1em 1em ${colores[i]}, inset 0 0 0 transparent, inset 0 0 0 transparent;`
			)
			punto.forEach((cadaPunto, i) => {
				punto[i].classList.remove('activo')
				punto[i].setAttribute('style', `background-color:#ececec`)
			})

			punto[i].classList.add('activo')
			punto[i].setAttribute('style', `background-color: ${colores[i]}`)
		})
	})
	let inde: number = 0
	setInterval(() => {
		let pos = inde
		let op = pos * -20
		grande.style.transform = `translateX(${op}%)`
		$slider.setAttribute(
			'style',
			`box-shadow:1em 1em 1em ${colores[inde]}, -0.5em -1em 1em ${colores[inde]}, inset 0 0 0 transparent, inset 0 0 0 transparent;`
		)
		punto.forEach((cadaPunto, i) => {
			punto[i].classList.remove('activo')
			punto[i].setAttribute('style', `background-color:#ececec`)
			console.log('removiendo', i)
			console.log('....')
		})
		punto[inde].classList.add('activo')
		punto[inde].setAttribute('style', `background-color: ${colores[inde]}`)
		inde++
		if (inde === punto.length) {
			inde = 0
		}
	}, 3500)
</script>
